<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiKgPmKiaqRuvX8Kob7Bvt410Jx1RbMwg</string>
	<key>GCM_SENDER_ID</key>
	<string>802674693833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ethanhoppe.travel-split</string>
	<key>PROJECT_ID</key>
	<string>travel-split-b16a0</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-split-b16a0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802674693833:ios:d2b848ea2842498fc41f18</string>
</dict>
</plist>